.colophon {
	background-color: #1F1F1F;
	padding: 10px 0;
	border-top: 1px solid #3A3A3A;
}

@media ( min-width :480px) and (max-width:801px) {
	.scroll-to-top {
		    margin-bottom: 25px;
	}
}

.site-content:after {
	content: '';
	display: table;
}

.site-content:after:before {
	clear: both;
}

.site-info {
	color: #999;
	font-size: 12px;
}

.footer-area .site-info nav ul li {
	border-bottom: none;
}

.footer-nav.nav {
	float: left;
	margin-bottom: 2px;
}

.footer-area .site-info nav ul li {
	border-bottom: none;
}

.footer-nav.nav>li {
	position: relative;
	display: inline-block;
}

.footer-area a {
	color: #DADADA;
}

.copyright {
	margin-top: 10px;
	float: right;
	text-align: right;
}

.footer-nav.nav>li>a:hover {
	background-color: transparent;
}

.secondary .widget .social-icons a {
	color: #fff;
}

.social-icons,.menu-social {
	position: relative;
	text-align: center;
}

.secondary .widget .social-icons {
	text-align: left;
}

.menu-social li {
	border: none;
	display: inline-block;
	margin: 0;
}

.social-icons li a {
	font-size: 18px;
	line-height: 40px;
	list-style: none;
	display: inline-block;
	text-align: center;
	height: 40px;
	width: 40px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	background-color: #DADADA;
	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.footer-area .social-icons a {
	margin-right: 7px;
	background-color: #363636;
	color: #fff;
}

.footer-area .social-icons li a {
	background-color: #363636;
	color: #fff;
	margin-right: 7px;
}

.menu-social li a span {
	display: none;
}

.menu-social li a[href*="facebook.com"]:hover {
	background-color: #4265b9 !important;
}

.menu-social li a[href*="twitter.com"]:hover {
	background-color: #55ACEE !important;
}

.menu-social li a[href*="dribbble.com"]:hover {
	background-color: #ea4c89 !important;
}

.menu-social li a[href*="flickr.com"]:hover {
	background-color: #ff0084 !important;
}

.menu-social li a[href*="plus.google.com"]:hover {
	background-color: #d62408 !important;
}

.menu-social li a[href*="skype.com"]:hover {
	background-color: #0bbff2 !important;
}

.menu-social li a[href*="pinterest.com"]:hover {
	background-color: #c31e26 !important;
}

.menu-social li a[href*="linkedin.com"]:hover {
	background-color: #005987 !important;
}

.menu-social li a[href*="vimeo.com"]:hover {
	background-color: #1bb6ec !important;
}

.menu-social li a[href*="tumblr.com"]:hover {
	background-color: #35506b !important;
}

.menu-social li a[href*="youtube.com"]:hover {
	background-color: #df3333 !important;
}

.menu-social li a[href*="instagram.com"]:hover {
	background-color: #F95B60 !important;
}

.menu-social li a[href*="/feed"]:hover {
	background-color: #f39c12 !important;
}

.menu-social li a[href*="foursquare.com"]:hover {
	background-color: #2398C9 !important;
}

.menu-social li a[href*="soundcloud.com"]:hover {
	background-color: #F50 !important;
}

.menu-social li a[href*="github.com"]:hover {
	background-color: #4183C4 !important;
}

.menu-social li a[href*="xing.com"]:hover {
	background-color: #006567 !important;
}

.menu-social li a[href*="spotify.com"]:hover {
	background-color: #81b71a !important;
}

.menu-social li a[href*="mailto"]:hover {
	background-color: #DA4453 !important;
}

.menu-social li,.menu-social ul {
	border: 0 !important;
	list-style: none;
	padding-left: 0;
}

.menu-social li a[href*="twitter.com"] .fa:before {
	content: "\f099"
}

.menu-social li a[href*="xing.com"] .fa:before {
	content: "\f168"
}

.menu-social li a[href*="facebook.com"] .fa:before {
	content: "\f09a"
}

.menu-social li a[href*="github.com"] .fa:before {
	content: "\f09b"
}

.menu-social li a[href*="/feed"] .fa:before {
	content: "\f09e"
}

.menu-social li a[href*="dribbble.com"] .fa:before {
	content: "\f17d"
}

.menu-social li a[href*="skype.com"] .fa:before {
	content: "\f17e"
}

.menu-social li a[href*="foursquare.com"] .fa:before {
	content: "\f180"
}

.menu-social li a[href*="spotify.com"] .fa:before {
	content: "\f1bc"
}

.menu-social li a[href*="soundcloud.com"] .fa:before {
	content: "\f1be"
}

.menu-social li a[href*="vimeo.com"] .fa:before {
	content: "\f194"
}

.menu-social li a[href*="youtube.com"] .fa:before {
	content: "\f167"
}

.menu-social li a[href*="instagram.com"] .fa:before {
	content: "\f16d"
}

.menu-social li a[href*="flickr.com"] .fa:before {
	content: "\f16e"
}

.menu-social li a[href*="tumblr.com"] .fa:before {
	content: "\f173"
}

.menu-social li a[href*="pinterest.com"] .fa:before {
	content: "\f0d2"
}

.menu-social li a[href*="plus.google.com"] .fa:before {
	content: "\f0d5"
}

.menu-social li a[href*="linkedin.com"] .fa:before {
	content: "\f0e1"
}

.menu-social li a[href*="mailto"] .fa:before {
	content: "\f003"
}

@media ( max-width : 992px) {
	.site-branding {
		text-align: center;
	}
	.side-pull-left .main-content-inner,.side-pull-right .main-content-inner
		{
		float: none;
	}
}

.scroll-to-top {
  background: #363636;
  background: rgba(100, 100, 100, 0.4);
  color: #FFF;
  bottom: 4%;
  cursor: pointer;
  display: none;
  position: fixed;
  right: 20px;
  z-index: 999;
  font-size: 16px;
  text-align: center;
  line-height: 40px;
  width: 40px;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s linear;
     -moz-transition: background-color 0.3s linear;
       -o-transition: background-color 0.3s linear;
          transition: background-color 0.3s linear;
}
.scroll-to-top:hover {
  background: #DA4453;
  opacity: .8;
}